{% extends "base.html" %}

{% block main %}
<script type="text/javascript" src="{{ url_for('static', filename='validation.js') }}"></script>
<script type="text/javascript">
	let shown = false;
	function showPass()
	{
		if (!shown)
		{
			document.getElementById("passBtn").innerHTML = "Hide";
			document.getElementById("newpSec").className = "";
			document.getElementById("oldpSec").className = "";
			shown = true;
		}
		else
		{
			document.getElementById("passBtn").innerHTML = "Change password";
			document.getElementById("newpSec").className = "invisible";
			document.getElementById("oldpSec").className = "invisible";
			shown = false;
		}
	}

	function passChanged(input)
	{
		let field;
		if (input.id == "newp")
			field = document.getElementById("oldp");
		else
			field = document.getElementById("newp");
		field.required = (input.value != "");
	}
</script>
<h3 id="sub">Change Account Details</h3>
<form name="register" method="POST">
	<p>
		<label for="username">Username</label>
		<input id="username" oninvalid="validateUsername(this)" pattern="^[_0-9A-Za-z-]+$" maxlength="16" name="username" placeholder="{{ g.user.username }}" autofocus>
		{% for message in get_flashed_messages() %}
			{% if "username" in message.lower() %}
				<p class="red">{{ message }}</p>
			{% endif %}
		{% endfor %}
	</p>
	<p id="oldpSec" class="invisible">
		<label for="password">Old Password</label>
		<input id="oldp" onChange="passChanged(this);" type="password" name="oldPass">
		{% for message in get_flashed_messages() %}
			{% if "password" in message.lower() %}
				<p class="red">{{ message }}</p>
			{% endif %}
		{% endfor %}
	</p>
	<p id="newpSec" class="invisible">
		<label for="password">New Password</label>
		<input id="newp" onChange="passChanged(this);" type="password" name="newPass">
	</p>
	<p><a id="passBtn" class="blue underline clickable" onclick="showPass();">Change password</a></p>
	<p><input id="submit" type="submit" value="Change"></p>
</form>
{% endblock %}
