{% extends "base.html" %}

{% block main %}
<script type="text/javascript" src="{{ url_for('static', filename='validation.js') }}"></script>
<h3 id="sub">Register (<a class="blue" href="{{ url_for('auth.login') }}">Have an account?</a>)</h3>
<form name="register" method="POST">
	<p>
		<label for="code">Code</label>
		<input type="code" name="code" placeholder="XXX-XXX-XX" autofocus required>
		{% for message in get_flashed_messages() %}
			{% if "code" in message.lower() %}
				<p class="red">{{ message }}</p>
			{% endif %}
		{% endfor %}
	</p>
	<p>
		<label for="email">Email</label>
		<input name="email" placeholder="Guigui220D@example.com" type="email" required>
		{% for message in get_flashed_messages() %}
			{% if "email" in message.lower() %}
				<p class="red">{{ message }}</p>
			{% endif %}
		{% endfor %}
	</p>
	<p>
		<label for="username">Username</label>
		<input id="username" oninvalid="validateUsername(this)" pattern="^[_0-9A-Za-z-]+$" maxlength="16" name="username" placeholder="Guigui220D" required>
		{% for message in get_flashed_messages() %}
			{% if "username" in message.lower() %}
				<p class="red">{{ message }}</p>
			{% endif %}
		{% endfor %}
	</p>
	<p>
		<label for="password">Password</label>
		<input type="password" name="password" required>
		{% for message in get_flashed_messages() %}
			{% if "password" in message.lower() %}
				<p class="red">{{ message }}</p>
			{% endif %}
		{% endfor %}
	</p>
	<p><input id="submit" type="submit" value="Register"></p>
</form>
{% endblock %}
