/* RESET */

*
{
	box-sizing: border-box;
	font-family: consolas;
	font-size: .9em;
	padding: 0;
	margin: 0;
}

footer
{
	margin-top: 5%;
}

body
{
	background-image: url("/static/images/fullBg.png");
	background-repeat: no-repeat;
	background-size: cover;
	height: 200vh;
}

a
{
	text-decoration: none;
}

h2
{
	margin-top: 5%;
	font-size: 4.5em;
}

p 
{
	font-size: 2.5em;
}

ul li
{
	margin-top: 10px;
	font-size: 1em;
}

/*FONTS*/

.consolas
{
	font-family: consolas;
}

/* COLORS */

.green, .green:hover, .green:active, .green:visited, .green:link
{
	color: #72dc54;
}

.blue, .blue:hover, .blue:active, .blue:visited, .blue:link
{
	color: #2167ff;
}

.aliceblue, .aliceblue:hover, .aliceblue:active, .aliceblue:visited, .aliceblue:link
{
	color: aliceblue;
}

.white, .white:hover, .white:active, .white:visited, .white:link
{
	color: white;
}

.black, .black:hover, .black:active, .black:visited, .black:link
{
	color: black;
}

.darkBlue, .darkBlue:hover, .darkBlue:active, .darkBlue:visited, .darkBlue:link
{
	color: blue;
}

.yellow, .yellow:hover, .yellow:active, .yellow:visited, .yellow:link
{
	color: #ffeb3b;
}

.red, .red:hover, .red:active, .red:visited, .red:link
{
	color: #e03c3c;
}

.outline
{
	text-shadow:
	-1px -1px 0 #000,  
	1px -1px 0 #000,
	-1px 1px 0 #000,
	1px 1px 0 #000;
}

.invisible
{
	visibility: hidden;
	width: 0;
	height: 0;
	margin: 0;
	padding: 0;
}

/* CENTER */

.center
{
	text-align: center;
}

/* UNDERLINE */

.underline::before
{
	content: "";
	position: absolute;
	width: 100%;
	height: 2px;
	bottom: -2px;
	transform: scaleX(0);
	transition: transform 0.2s ease-in-out 0s;
	background-color: #3150ff;
}

.underline:hover::before
{
	transform: scaleX(1);
}

.underline
{
	position: relative;
}

/* HEADER */

header
{
	background: rgba(27, 178, 189, 0.8);
	width: 50vw;
	height: 10vh;
	position: fixed;
}

#logo
{
	margin-top: 1%;
	margin-left: 1%;
	max-width: 35%;
}

header p
{
	font-size: 2em;
	float: right;
	margin-right: 5%;
	margin-top: 2%;
}

/* MAIN */

/*It's an id since there is one per page*/

#title
{
	padding: .5%;
	font-size: 7.5em;
}

#sub
{
	margin-top: 3px;
	font-size: 2.5em;
}

#main h3
{
	display: inline-block;
}


#main
{
	position: fixed;
	height: 90vh;
	width: 50vw;
	/*backdrop-filter: blur(4px);*/
	background: rgba(27, 178, 189, 0.8);
	display: block;
	top: 10vh;
}

@media (min-width: 1440px)
{
	#title
	{
		font-size: 6em;
	}
	p
	{
		font-size: 2em;
	}
}

@media (min-width: 1024px)
{
	#title
	{
		font-size: 4.3em;
	}

	h2
	{
		font-size: 3.7em;
	}

	p
	{
		font-size: 2em;
	}
}

@media (min-width: 1920px)
{
	p 
	{
		font-size: 2.5em;
	}

	h2
	{
		margin-top: 5%;
		font-size: 4.5em;
	}

	#title
	{
		font-size: 7.5em;
	}
}

@media (min-width: 2560px)
{
	p
	{
		font-size: 2.5em;
	}

	h2
	{
		font-size: 4.5em;
	}

	#sub
	{
		font-size: 3em;
	}

	header a
	{
		font-size: 1.4em;
	}
}
